body
{
    background-color: black;
    color: azure;
    font-family: "Verdana", sans-serif;
}

#heading
{
    height: 40px;
    width: 100%;
    background-color: #ff5b33;
    color: black;
    border: 2px solid ;
    padding: 5px;
    
}

.events
{
    margin-bottom: 100px;
    clear: both;
}

.details
{
    width: 50%;
    margin-left: 5px;
    display: inline-block;
}

.images
{
    float: right;
    display: inline-block;
    margin: 30px;
}